<!doctype html>
<html lang="en">
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>Erik Huckle</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
.bg-dark{
  background-color: black !important;

}
.navbar-dark .navbar-nav .nav-link{
  color: white;
}
html, body {
  height: 100%;
 margin: 0;
}
body {
  display:flex; 
  flex-direction:column; 
}
hr{
  display: block; height: 1px;
    border: 0; border-top: 1px solid black;
    margin: 1em 0; padding: 0;
}
.footer{
  margin-top: auto;
  height: 60px;
  line-height: 43px;
}
.list{
  display: none;
}
</style>
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{% url 'home' %}">Erik Huckle</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <a class="nav-item nav-link" href="https://www.linkedin.com/in/erik-huckle/">LinkedIn</a>
          <a class="nav-item nav-link" href="{% static 'resume_final.pdf' %}">Resume</a>
        </div>
      </div>
    </nav>
  </header>

  <main role="main">

    <section class="jumbotron mt-5" style="background-color: white !important;" id="profile">
      <div class="container">
        <h1 class="jumbotron-heading text-left font-weight-bold" >Erik Huckle</h1>
        <hr>
        <hr>
        <div class="row mt-5">
       <div class="col-sm-3">
        <img src="{% static 'erik.jpg' %}" height="200" width="200" />

       </div>
       <div class="col-sm-9">
        <p class="text-muted" style="font-size: 1rem;">Erik is a former Marine Infantry Officer who transitioned to Tech through business school after a little over 6 years in active duty.</p>
        <p class="text-muted" style="font-size: 1rem;">While at the University of Texas-Austin for business school, he worked with AECOM’s Innovation team to commercialize one of their emerging technologies, co-founded a robotics company (WS Robots) with a classmate and spent a summer at Los Alamos National Laboratory’s Feynman Center for Innovation working with scientists on commercializing tech like quantum dots and nuclear space engines.</p>
  <p class="text-muted" style="font-size: 1rem;">
    He landed at Amazon after the MBA, while his cofounder continued the robotics business, where he worked in a secret startup which created and launched a hardware product internally. Now he is at a venture studio in Austin where he is the Head of Product building a contractor management platform utilizing a distributed ledger.

  </p>
  <p class="text-muted" style="font-size: 1rem;">
    He loves combining knowledge of the customer with cutting-edge technology in order to solve tough problems while leading diverse teams in disparate cultures. 
</p>
      </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm-3">
        <p class="">
          <a href="mailto:erik.huckle@gmail.com" class="btn btn-primary my-2">Email Me</a>
        </p>
      </div>
      <div class="col-sm-9">

      </div>
    </div>
    <hr>
        <hr>
      </div>
    </section>

<div class="container">
  <h2>Latest Posts</h2>
  {% for blog in blogs.all %}
<div class="row list" style="
border: 1px solid black;
margin-bottom: 2rem;
padding-bottom: 1.25rem;">
  <div class="col-sm-6">
  <p>
  <a style="color:black" href="{% url 'detail' blog.id %}"><h3>{{ blog.title }}</h3></a></p>
  <p><a style="color: black;" href="#profile"><h3>By Erik</h3></a></p>
  {{ blog.pub_date_pretty }}
  <br />
  <br />
  <p class="text-muted">{{ blog.summary }}</p>
</div>
<div class="col-sm-6 text-right">
  <img class="img-fluid" src="{{ blog.image.url }}" height=216 width=360 />

</div>

</div>
<br>
  {% endfor %}
  <div class="text-center">
  <button class="btn btn-primary btn-lg" id="loadMore">Load More Blogs</button>
</div>
</div>




    <!-- <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">

          {% for job in jobs.all %}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="{{ job.image.url }}" />
              <div class="card-body">
                <p class="card-text">{{ job.summary }}</p>
              </div>
            </div>
          </div>
          {% endfor %}


        </div>
      </div>
    </div> -->

  </main>
<br>
  <footer class="text-white bg-dark footer">
    <div class="container text-center">
      <p>© Erik Huckle {% now "Y" %}</p>
      </div>
  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
$(function () {
  if($('.list').length>3){
		x=3;
    $('.list').slice(0, 3).show();
    for(var i =0 ; i<3;i++){
      $(".list")[i].style.display = 'flex'
    }
    $('#loadMore').on('click', function (e) {
        e.preventDefault();
        x = x+5;
        $('.list').slice(0, x).slideDown();
        for(var i =0 ; i<x;i++){
      $(".list")[i].style.display = 'flex'
    }
        if(x >= $('.list').length){
          $('#loadMore').hide(); 
        }
    });
  }
  else{
    document.querySelectorAll(".list").forEach(function(list){
      list.style.display = 'flex'
    })
    $('#loadMore').hide();
  }
});
</script>
</body>
</html>
